:root{
  --greenBg:#198754;
}
/* =======NavBar======= */
.navbar{
  background-color: var(--greenBg);
}
.banner{
  color: var(--greenBg);
}
.bank-logo{
  font-family: 'Emblema One', cursive;
  text-decoration: none;
  color: var(--greenBg);
}
.navText{
  text-decoration: overline;
  transition: all 2s;
}
.navText:hover{
  color: var(--greenBg);
  text-decoration:underline;
}

/* =======Body======= */
footer{
  margin-top: 10px;
  height: 100%;
  
}
.card-title{
  padding: 5%;
  color:whitesmoke;
  background-color: var(--greenBg);
  font-weight: 700;
  border-radius: 10%;
}
.card:hover .card-img-overlay .card-title{
  background-color: black;
  color: white;
  transform: scale(1.05);
}
.card:hover .card-img-overlay{
  background-color: #075e546b;
}
.font-icon {
  color: var(--greenBg);
  padding: 10px;
}
.about{
  color: var(--greenBg);
}
.points{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  margin-left:15px ;
  line-height: 120%;
  color: black;
}
.securityInfo{
  color: white;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  /* margin: 0% 38% 1% 38%; */
  background-color: var(--greenBg);
  animation: for 1.5s linear infinite;
  border-radius: 4px;
  padding: 4px;
}
.inp{
  outline: solid 1px var(--greenBg);
}
@keyframes for {
  50% {
      opacity: 0.6;
  }
}
.alerts{
  margin-top: 20px;
  border: 1px solid var(--greenBg);
}
.hint{
  color: var(--greenBg);
}

.submit:hover{
  color: #fff;
  background-color: var(--greenBg);
}
.my-profile,.add-money,.transfer-money,.history{
  border-radius: 50% 10%;
}

.head{
  background-color: var(--greenBg);
}
/* =======User======= */
.user-icons{
  cursor: pointer;
  text-decoration: none;
}
.user-form{
  border-color: var(--greenBg);
  /* outline: var(--greenBg) solid 10px; */
}
.back{
  cursor: pointer;
  color: var(--greenBg);
}
/* =======Footer======= */
footer{
  background-color: var(--greenBg);
}
.footer{
  background-color: #0c5e37;
  font-size: medium;
}
.footer-icon:hover{
  color: aliceblue;
}

.required .form-label::after{
  content:"*";
  color:red;
}



.new-top{
  display: flex;
  justify-content: center;
  margin: 3% 10%;
  text-align: center;
}
.new{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  width: 550px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, .2) ;
  padding: 2%;
}
.new-bord{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 23%;
  /* padding: 10px; */
  font-weight: bold;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 255, .2) ;
  /* border: 1px solid black; */
  border-radius: 10%;}
.new-bord:hover,.new-bord:active{
  transform: scale(0.99);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

@media screen and (max-width: 767px) {
  .new{
    display: grid;
    text-align: center;
    /* padding: 20px; */
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
  .new-bord{
    width: 90%;
    margin:0px 5%;
  }
}