:root{
  --greenBg:#198754;
}
/* =======NavBar======= */
.navbar{
  background-color: var(--greenBg);
}
.banner{
  color: var(--greenBg);
}
.bank-logo{
  font-family: 'Emblema One', cursive;
  text-decoration: none;
  color: var(--greenBg);
}
.navText{
  text-decoration: overline;
  transition: all 2s;
}
.navText:hover{
  color: var(--greenBg);
  text-decoration:underline;
}

/* =======Body======= */


.card-title{
  padding: 5%;
  color:whitesmoke;
  background-color: var(--greenBg);
  font-weight: 700;
  border-radius: 10%;
}
.card:hover .card-img-overlay .card-title{
  background-color: black;
  color: white;
  transform: scale(1.05);
}
.card:hover .card-img-overlay{
  background-color: #075e546b;
}
.font-icon {
  color: var(--greenBg);
  padding: 10px;
}
.points{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  margin-left:15px ;
  line-height: 120%;
  color: black;
}
.securityInfo{
  color: white;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  background-color: var(--greenBg);
  animation: for 1.5s linear infinite;
  border-radius: 4px;
  padding: 4px;
}
.inp{
  outline: solid 1px var(--greenBg);
}
@keyframes for {
  50% {
      opacity: 0.6;
  }
}
.alerts{
  margin-top: 20px;
  border: 1px solid var(--greenBg);
}
/* =======User======= */
.user-icons{
  cursor: pointer;
  text-decoration: none;
}
.back{
  cursor: pointer;
  color: var(--greenBg);
}
/* =======Footer======= */
footer{
  background-color: var(--greenBg);
}
.footer{
  background-color: #0c5e37;
  font-size: medium;
}
.footer-icon:hover{
  color: whitesmoke;
}

.log-main{
  display: flex;
  justify-content: center;
  margin: 3% 10%;
  text-align: center;
}
.log-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  width: 550px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, .2) ;
  padding: 2%;
}
.log-options{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 23%;
  font-weight: bold;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 255, .2) ;
  border-radius: 10%;}
.log-options:hover,.log-options:active{
  transform: scale(0.99);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

@media screen and (max-width: 767px) {
  .log-container{
    display: grid;
    text-align: center;
    /* padding: 20px; */
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
  .log-options{
    width: 90%;
    margin:0px 5%;
  }
}

.popups{
position: absolute;
top: 15%;
bottom: 100;
margin: 0 auto;
left: 0;
right: 0;
z-index: 1;
width: 300px;
}